fluss.tbl
intervall.tbl
orbi.tbl
fluss.lp
intervall.lp
orbi.lp
*.aux
*.log
text/studienarbeit.pdf
text/studienarbeit*.pdf
text/auto/
*.dvi
text/studienarbeit*.ps
*#*
*_region_*
*~
.bzr/
fourmotz/
*.pyc
*.logtext/
prv_studienarbeit.fmt
